* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --blue: #477bc0;
  --white: #f7f8fa;
  --grey: #424246;
  --black: #171321;
  --hotmag: #e310cb;
  --aqua: #86fbfb;
  --green: #338d77;
  --font-size: 1.3rem;
  --sans: : "Open Sans", sans-serif;
  --play: "Playfair Display", serif;
  --mono: "Oxygen Mono", monospace;
}

body::-webkit-scrollbar{
  display: none;
}

body {
  background-color: var(--black);
  cursor: default;
  font-family:var(--sans);
  font-family:var(--mono);
  font-size: var(--font-size);
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--grey);
  color: var(--white);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  margin: 0 0 0 2.5rem
}

.nav-links {
  column-gap: 1.5rem;
  display: flex;
  list-style: none;
  margin-right: 2.5rem;
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--blue);
}

a:active {
  color: darkblue;
}

nav [class*="fa-"] {
  font-size: 150%;
}

.fa-linkedin {
  color: #0e49af;
}

.fa-linkedin:hover {
  color: var(--blue);
}

.fa-linkedin:active {
  color: darkblue;
}

.fa-github {
  color: #000000;
}

.fa-github:hover {
  color: var(--blue);
}

.fa-github:active {
  color: darkblue;
}

.resume-button {
  background-color: var(--hotmag);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.resume-button:hover {
  background-color: var(--aqua);
  color: #000000;
}

.resume-button:active {
  background-color: darkblue;
  color: var(--white);
}

.gradient {
  background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
  height: 0.1rem;
}

.contact {
  color: var(--white);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  padding: 11rem 5rem;
  text-align: center;
}

.contact-title {
  color: var(--aqua);
  margin: 2rem 0;
  font-size: 4rem;
}

.contact-statement {
  margin: 5rem 0;
}

.email-link {
  padding: 0;
  margin: 2rem 0;
}

.email {
  color: var(--hotmag);
}

footer {
  background-color: var(--grey);
  color: var(--white);
  font-size: 1rem;
  padding: 0.5rem 0;
  text-align: center;
}

.footer-brand {
  margin: 0;
}

.fa-envelope {
  color: grey;
}

.fa-envelope:hover {
  color: var(--blue);
}

.fa-envelope:active {
  color: darkblue;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.footer-link {
  font-size: 150%;
}

.copyright {
  margin: 0;
}